html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.authForm {
    margin: 50px auto;
}

@media (min-width: 768px) {
    .authForm {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .authForm {
        width: 70%;
    }
}