html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    flex-direction:column;
    min-height:100vh;
}

#pageContent {
    flex: 1;
    padding: 3rem 0;
}

@media (min-width: 768px) {
    .authForm {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .authForm {
        width: 70%;
    }
}