html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    flex-direction:column;
    min-height:100vh;
}

#pageContent {
    flex: 1;
    padding: 3rem 1.5rem;
}

#home-style-view {
    align-self: center;
    flex: 1;
    text-align: end;
}
#home-style-view > a.text-secondary:hover {
    color: #414549 !important;
}

.hide-custom{
    display: none;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}
.img-selection {
    width: 30%;
    object-fit: cover;
    cursor: pointer;
}
.img-selected {
    border: darkgrey solid 3px;
}

@media (min-width: 768px) {
    form {
        width: 70%;
    }

    .authForm {
        width: 85%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    form {
        width: 50%;
    }

    .authForm {
        width: 65%;
    }
}